/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h1 {
  margin: 0;
}
